# Xcode
build/
DerivedData/
*.xcodeproj/
*.xcworkspace/
xcuserdata/
*.xcuserstate
*.xcscmblueprint
*.xccheckout

# Swift Package Manager
.build/
.swiftpm/
Packages/
Package.resolved

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes
.fseventsd
.TemporaryItems
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Thumbnails
Thumbs.db
ehthumbs.db

# IDE
*.swp
*.swo
*~
.idea/
.vscode/

# CocoaPods
Pods/

# Carthage
Carthage/Build/
Carthage/Checkouts/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
